<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.ues.fia.eisi.pdm115">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PDM115"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".docente.AdmAsignarNotaRepetido"></activity>
        <activity android:name=".docente.AdmAsignarNotaDiferido" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".docente.AdmLocalDetalle" />
        <activity android:name=".docente.AdmLocalActivity" />
        <activity android:name=".docente.AdmDarRevisionSegundaRevision" />
        <activity android:name=".docente.AdmDarRevisionPrimeraRevision" />
        <activity android:name=".docente.AdmAprobarSolSegundaRevision" />
        <activity android:name=".docente.AdmAprobarSolPrimeraRevision" />
        <activity android:name=".docente.AdmDetallesolicitudPrimeraRevision" />
        <activity android:name=".docente.AdmDetallesolicitudSegundaRevision" />
        <activity android:name=".docente.AdmSegundaRevisionActivity" />
        <activity android:name=".docente.AdmPrimeraRevisionActivity" />
        <activity android:name=".estudiante.EstudiantePrimeraRevisionActivity" />
        <activity android:name=".estudiante.EstudianteSegundaRevisionActivity" />
        <activity android:name=".estudiante.EstudianteSolicitudPrimeraRevisionActivity" />
        <activity android:name=".estudiante.EstudianteConsultarSolicitudPrimeraRevisionActivity" />
        <activity android:name=".estudiante.EstudianteSolicitudSegundaRevisionActivity" />
        <activity android:name=".estudiante.EstudianteConsultarSolicitudSegundaRevision" />
        <activity android:name=".docente.AdmRepetidoActivity" />
        <activity android:name=".docente.AdmDiferidoActivity" />
        <activity android:name=".docente.AdmAprobarSolRepetido" />
        <activity android:name=".docente.AdmDetallesolicitudRepetido" />
        <activity android:name=".docente.AdmListaSolicitudesRepetido" />
        <activity android:name=".docente.AdmAprobarsolicitudDiferido" />
        <activity android:name=".docente.AdmDetallesolicitudDiferido" />
        <activity android:name=".docente.AdmListaSolicitudesDiferido" />
        <activity android:name=".encargadoImpresion.EncargadoImpresionesMenuActivity" />
        <activity android:name=".estudiante.EstudianteMenuActivity" />
        <activity android:name=".docente.DocenteMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>